<div class="d-flex align-items-center justify-content-between">
  <h1>Your Courses</h1>
  <%= link_to 'Add course', new_course_path %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.description %></td>
        <td><%= course.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
